html{
    height: 100%;
    overflow: hidden;
}

.page-block{
    height: 100%;
    margin: 0;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    overflow-x: hidden;
}

.header{
    border: 1px solid #000000;
    flex: 0 0 auto;
}

.main{
    border: 1px solid #000000;
    flex: 1 0 auto;
}

.map{
    width: 100%;
    height: 100%;
    border: 1px solid #000000;
}

.footer{
    border: 1px solid #000000;
    flex: 0 0 auto;
}