html{
    height: 100%;
}

.page-block{
    height: 100%;
    margin: 0;
    text-align: center;
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow-x: hidden;
}

.header{
    border: 1px solid #000000;
}

.main{
    border: 1px solid #000000;
}

.map{
    width: 100%;
    height: 100%;
    border: 1px solid #000000;
}

.footer{
    border: 1px solid #000000;
}